/* Dataview */

.xr_dataview .xr_webix_dataview_cell {
    /*width: auto !important;*/
    /*height: auto !important;*/
    /*overflow: visible !important;*/
    /*display: table;*/
}

.xr_dataview .webix_scroll_cont {
    /*display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;*/
}

.xr_table {
    display: table;
}

.xr_row {
    display: table-row;
}

.xr_cell {
    display: table-cell;
    vertical-align: top;
}

.xr_webix_dataview_cell {

}

.xr_webix_dataview_cell_image {
    min-width: 60px;
}

.xr_webix_dataview_cell_table .xr_header {
    font-weight: bold;
    padding-right: 12px;
}
.xr_webix_dataview_cell_table .xr_value {
    white-space: nowrap;
    overflow: hidden;
}

.xr_webix_dataview_cell_buttons {
    width: 24px;
    min-width: 24px;
    text-align: right;
}

.xr_webix_dataview_cell_buttons .xr_webix_row_button_icon {
    height: 24px;
}

/* Grid */

.xr_webix_row_button_cell {

}

.xr_webix_row_button {
    line-height: unset;
    height: 36px;
}

.xr_webix_row_button .webix_el_box {
    padding: 2px;
}

.xr_webix_row_button .webix_el_box button {
    vertical-align: top;
}

.xr_webix_row_button_icon {
    /*visibility: hidden;*/
    width:  100%;
    height: 36px;
    line-height: unset;
    color: #94A1B3;
}

.xr_webix_row_button_icon:hover {
    cursor: pointer;
    background: #F4F5F9;
    color: #475466;
}

.xr_webix_row_hover .xr_webix_row_button_icon {
    /*visibility: visible;*/
}

.xr_webix_datatable_header {
    background: #F4F5F9;
    border-bottom: 1px solid #5ccce7;
}

.xr_webix_datatable_header .webix_el_label .webix_el_box {
    padding-left: 10px;
    padding-right: 12px;
    font-size: 14px;
    color: #313131;
}

/*
Вариант с webix кнопкой
.xr_webix_row_button_icon {

}

.xr_webix_row_button_icon button {
    width: 36px;
    height: 36px;
    vertical-align: unset;
}
 */